* {
    margin: 0; padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: #E9FFD3;
    font-family: 'Arial', Helvetica, sans-serif;
}

.business-card {
    width: 300px;
    padding: 20px;
    margin: 100px auto;
    text-align: center;
    font-size: 16px;
    background-color: white;
    border: 2px solid #eee;
}

.business-card p {
    margin: 5px;
}

.user-info .full-name {
    font-size: 24px;
}

.user-info .designation {
    font-size: 20px;
    color: gray;
}

.user-info .company {
    color: #aaa;
}

.user-portfolio p {
    display: flex;
    gap: 4px;
}

.user-portfolio p a {
    color: black;
}

.user-portfolio .portfolio a {
    text-decoration: underline;
    color: maroon;
}

hr {
    margin: 20px 0;
}

.social-media h2 {
    font-size: 20px;
}

.social-media p {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.social-media p a {
    font-size: 0.9rem;
    color: maroon;
}